body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #0074e8;
    color: white;
    text-align: center;
    padding: 25px;
}

#header h1 {
    margin: 0;
    font-size: 36px;
}

.subtitle {
    font-style: italic;
    margin-top: 5px;
}

#main-content {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

h2, h3, h4, h5, h6 {
    margin-top: 20px;
}

.important {
    color: red;
    font-weight: bold;
}

ul, ol {
    margin-left: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#quiz-section {
    background-color: #e6f6ff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 25px;
    position: relative;
}

#quiz-section img {
    width: 100px;
    position: absolute;
    right: 15px;
    top: 15px;
    border: 3px solid purple;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
}


#species-table table {
    width: 33%;
}

#species-table {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #888;
    color: white;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

#footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
